@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style-type: none;
    color: #70A699;
    box-sizing: border-box;
}

h2 {
    margin: 80px;
    text-align: center;
}

/* header */

body {
    background-color: #222222;
}

header {
    position: sticky;
    top: 0;
    background-color: #343434;
}

header ul li {
    text-align: left; 
    margin-bottom: 10px;
    padding: 10px;
}

header a {
    color: #70A699;
}

header span {
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    border: 2px solid #70A699;
    border-radius: 5px;
}

#menures {
    display: none;
    background-color: #343434;
}

/* Perfil */

#perfil {
    height: 80vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: #70A699;
    text-shadow: 1px 1px 1px black;
}

#perfil h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

#perfil p {
    margin-bottom: 20px;
}

#perfil a{
    border: 2px solid #70A699;
    border-radius: 30px;
    padding: 20px;
    margin: 90px auto 0px auto;
    width: 50%;
    font-size: 1.5em;
}

#perfil a:hover {
    letter-spacing: 0.3em;
    transition: 0.9s;
    text-align: center;
}

/* Tecnologias */

#tecnologias {
    background-color: #343434;
}

#logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Projetos */

.box-projetos {
    border-radius: 30px;
    background-color: #70A699;
    color: #222222;
    width: 300px;
    height: 300px;
    margin: 20px auto;
    text-align: center;
}

.box-projetos:hover {
    background-color: #222222;
    border: 3px solid #70A699;
    color: #70A699;
    width: 310px;
    transition: 0.7s;
    cursor: pointer;
}

/* sobre mim */

#sobre {
    text-align: center;
    background-color: #343434;
}

#sobre p {
    margin-bottom: 30px;
}